.drawer{
  @apply transition-all overflow-x-hidden;
  @apply fixed;
  z-index: 1;
  background-color: #f3f4f6
}

.top{
  @apply left-0 top-0 w-full;

  &--open{
    @apply h-[300px] p-4;
  }
  
  &--close{
    padding: 0px !important;
    height: 0px !important;
  }
}

.bottom{
  @apply left-0 bottom-0 w-full;

  &--open{
    @apply h-[300px] p-4;
  }
  
  &--close{
    padding: 0px !important;
    height: 0px !important;
  }
}

.right{
  @apply top-0 right-0 h-full;

  &--open{
    @apply w-[300px] p-4;
  }
  
  &--close{
    padding: 0px !important;
    width: 0px !important;
  }
}

.left{
  @apply top-0 left-0 h-full;

  &--open{
    @apply w-[300px] p-4;
  }
  
  &--close{
    padding: 0px !important;
    width: 0px !important;
  }
}