# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.env
/dist/cjs/index.d.ts
/dist/cjs/index.js
/dist/cjs/index.js.map
/dist/cjs/stories/button/index.d.ts
/dist/cjs/stories/header/index.d.ts
/dist/cjs/stories/page/index.d.ts
/dist/cjs/stories/table/index.d.ts
/dist/cjs/stories/typography/index.d.ts
/dist/esm/index.d.ts
/dist/esm/index.js
/dist/esm/index.js.map
/dist/esm/stories/button/index.d.ts
/dist/esm/stories/header/index.d.ts
/dist/esm/stories/page/index.d.ts
/dist/esm/stories/table/index.d.ts
/dist/esm/stories/typography/index.d.ts
